* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
html {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #f3ecff;
}
.none{
  display: none;
}
.show{
  display: block;
}
/* HEADER ------------------------------------- */

.head{
  padding: 2rem 1rem;
  position: sticky;
  background-color: #f3ecff6b;
  backdrop-filter: blur(10px);
  top: 0;
  z-index: 50;
}

.head__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
}

.head__item{
  display: flex;
  justify-content: center;
}

.cart-icon-cont{
  background-color: #f3ecff;
  padding: .2rem .4rem;
  border-radius: .5rem;
  position: relative;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}

.cart-icon-cont:hover, .log-btn:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

.bag__num{
  background-color: #8a2be2;
  color: #fff;
  padding: 0 .5rem;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 20px;
  -webkit-border-radius: 50%rem;
  -moz-border-radius: 50%rem;
  -ms-border-radius: 50%rem;
  -o-border-radius: 50%rem;
}

.log-btn{
  background-color: #ffe283;
  color: #690074;
  padding: .5rem;
  border-radius: .8rem;
  border: none;
  font-size: .9rem;
  font-weight: 600;
  transition: all ease-out .2s;
  -webkit-border-radius:.8rem;
  -moz-border-radius:.8rem;
  -ms-border-radius:.8rem;
  -o-border-radius:.8rem;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}

.log-btn-user{
  color: #ffe283;
  background-color: #690074;
}

.log-out-cont{
  position: absolute;
  top: calc(100% - 2.8rem);
  display: none;
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  -moz-transition: all ease-out 1s;
  -ms-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
}

.log-btn-cont:hover .log-out-cont {
  display: block;
}


.log-out{
  padding: 1rem 1.5rem;
  margin-top: .6rem;
  background-color: #ffe283;
  border-radius: .8rem;
  -webkit-border-radius: .8rem;
  -moz-border-radius: .8rem;
  -ms-border-radius: .8rem;
  -o-border-radius: .8rem;
}

.log-out-btn{
  font-weight: 600;
}

.log-btn:active{
  background-color: #330d36;
}

.head__cart-regist{
  display: flex;
  width: fit-content;
  justify-self: center;
  align-items: center;
  gap: 1rem;
}

.head-btn{
  width: 4rem;
  height: 2rem;
  background-color: #ffffff;
  border: none;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
}

.head-btn:hover{
  background-color: #81238c;
}
.head-btn:active{
  background-color: #4a1650;
}
.head-btn:hover .find-icon{
  color: #fff;
}

.find-icon{
  color: #690074;
  font-size: 20px;
  transition: all ease-out .3s;
}

.cart-icon{
  color: #690074;
  font-size: 25px;
}

.find{
  display: flex;
  gap: .4rem;
}

.find__input{
  text-align: center;
  border: none;
  width: 22rem;
  color: #4a4a4a;
  font-size: 1.1rem;
  padding: .3rem .3rem .3rem .5rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

.find__input:focus{
  outline: none;
}

.bag-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}

.bag-btn:hover{
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
}

/* CATEGORY ------------------------------------- */
.sec__category{
  margin: 0 10% 3rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.category__list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.category__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  height: 100%;
  width: fit-content;
  cursor: pointer;
}

.category__item:hover .category__img{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.category__img{
  width: 10rem;
  height: auto  ;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}


.category__text{
  color: #690074;
  font-weight: 600;
  position: relative;
  z-index: 10;
}

.category__line{
  border-bottom: 3px solid #690074;
}

/* IMG VIWER ------------------------------------- */
.view{
  margin: 2rem 10%;
  z-index: 20;
  position: fixed;
  top: 0;
  display: none;
}



.view__img-cont{
  display: flex;
  justify-content: center;
}

.view__img{
  width: 60%;
  height: auto;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}


/* PRODUCTS ------------------------------------- */

.sec__products{
  width: 100vw;
}

.products__container{
  background-color: #4a1650;
  margin: 2rem 10%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.category__title-container{
  margin: 1rem 0;
}

.products__items{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category__products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: .8rem;
}


.product{
  background-color: #793b80ae;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18rem;
}

.product__img-cont{
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.product__description{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin: 1rem 0;
}

.product__price{
  display: flex;
  gap: .5rem;
  font-weight: bold;
}

.product__img{
  width: auto;
  height: 18rem;
  width: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.btn{
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  background-color: #f3ecff;
  color: #81238c;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transition: all ease-out .2s;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -ms-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
}

.btn:hover{
  color: #f3ecff;
  background-color: #53135b;
  cursor: pointer;
}

.btn:active{
  background-color: #330d36;
}

.footer__container{
  margin: 1rem 10% 0;
}

.footer{
  background-color: #4a1650;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0 0;
  -webkit-border-radius: 1.5rem 1.5rem 0 0;
  -moz-border-radius: 1.5rem 1.5rem 0 0;
  -ms-border-radius: 1.5rem 1.5rem 0 0;
  -o-border-radius: 1.5rem 1.5rem 0 0;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: .8rem;
}

.form__input-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}

.form-alert{
  color: #f3ecff;
  font-weight: 600;
}

.form__input{
  width: 15rem;
  text-align: center;
}

.tel__input{
  appearance: textfield;
}

.form-btn{
  font-weight: 600;
}

.copyRigth__container{
  margin-bottom: 1rem;
  color: #ae51b8;
}


/* CARRITO ------------------------- */

.thank-you{
  color: #330d36;
  }

.sec__bag{
  background-color: #fff;
  border-radius: 2rem;
  margin: 2rem 15%;
  padding-bottom: .5rem;
  min-height: 50vh;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.bag__products{
  width: 100%;
}

.bag__cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

}

.bag__element{
  background-color: #f3ecff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bag__name{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem ;
  padding: 1rem 1rem;
}

.bag__text{
  color: #4a1650;
  font-size: 2rem;
}

.go__index{
  background-color: #ae51b8;
  padding: 1rem;
  border-radius: 1rem;
  color: #f3ecff;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
}

.go__index:hover{
  background-color: #8a2be2;
  transform: translateX(-2rem);
  -webkit-transform: translateX(-2rem);
  -moz-transform: translateX(-2rem);
  -ms-transform: translateX(-2rem);
  -o-transform: translateX(-2rem);
}

.go__index:active{
  background-color: #7120bd;
}


.bag__element-name, .bag__element-price{
  color: #330d36;
  font-weight: 600;
  display: flex;
  gap: .5rem;
}


.bag__item-btn{
  display: flex;
  justify-self: end;
}

.bag__element-img{
  width: 10rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.btn-remove{
  border: 1px solid #4a1650;
}

.btn-remove:hover{
  background-color: #fff;
  color: #4a1650;
  box-shadow: 0 0  1rem   #fff;
}

.btn-remove:active{
  background-color: rgb(200, 34, 34);
  color: #fff;
}


.total__container{
  background-color: #53135b;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* RESPONSIVE " " */

@media screen and (max-width: 1500px) {
  .category__products{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1140px) {
  .category__products{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .category__products{
    grid-template-columns: 1fr;
  }
}