// COLORS
$dark: #2d0b31;
$dark-main: #4a1650;
$medium-main: #6b2f70;
$violet: #ae51b8;
$blue-violet: #8a2be2;
$light-main: #f3ecff;
$white: #fff;
$yellow: #ffe283;
$dark-yellow: #dcb958;
$soft-text: #4a4a4a;
$delet: #ca2d4f;