/* RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GLOBAL */
html{
    background-color: #232323;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cinzel', serif;
}

.present__container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    margin-top: 3rem;
}

.present{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    min-width: 530px;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    box-shadow: .5rem .5rem 1.5rem .5rem #111, -.5rem -.5rem 1.5rem .5rem #333;
}

.present__title{
    font-size: 4.8rem;
    font-weight: 600;
    color: #bb85f8;
}

.present__subtitle{
    font-size: 1.4rem;
}
